# Byte-compiled
__pycache__/

# Distribution / packaging
build/
dist/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
coverage/

# Environments
.venv/

# PyPI configuration file
.pypirc

# Tests
tests/blackbox/locked_files_pending_deletion/
tests/blackbox/specific_libraries/test_libs

# Docs
.vercel
